<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Title, icon and stylesheet can be replaced as required. -->
        <title>IA Filtering</title>
        <link rel="icon" href="/static/icon.png" type="image/x-icon">
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Expires" content="0">
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        <!-- Body linked with Flask built-in Jinja. -->
        {% block body %}
        {% endblock %}
    </body>
</html>
